
body {
       font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}
.wrapper {
    background-image: url('img/bachground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 1440px;
    height: 780px;
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 0px;
    margin: auto;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    line-height: 350px;
}
figure {
    display: flex;
    margin: 0;
}

.logo {
    display: inline-flex;
    padding-right: 15px;
    padding-left: 120px;
}
h1 {
    height: 60px;
    width: 155px;
    left: 205px;
    top: 19px;
    border-radius: undefinedpx;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 0em;
    color: #F7F7F7;
    text-transform: uppercase;
}
h2 {
    position: absolute;
    width: 199px;
    height: 72px;
    left: 120px;
    top: 199px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
}
h3 {
width: 100%;
height: 72px;
left: 558px;
top: 120px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 72px;
text-align: center;
color: #333333;
}
ul.menu {
    float: right;
    margin-left: auto;
    margin-right: auto;
}
ul.menu li {
float: left;
padding: 0 0 0 9px;
list-style: none;
margin: 1px 2px 0 0;
text-shadow: 1px 1px 1px #101010;
}
.search {
    padding-top: 10px;
}
ul.menu {
float: right;
padding-right: 150px;
padding-left: 40px;
}
ul.menu li {
    float: left;
    padding: 0 0 0 60px;
    list-style: none;
    margin: 1px 2px 0 0;
}
ul.menu li a {
    color: #fff;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
}
.s_btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
    align-items: center;
    text-align: center;
    }
.s_btn {
    width: 120px;
    height: 50px;
    left: 1200px;
    top: 24px;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
}
.surv-text {
    position: absolute;
    width: 274px;
    height: 108px;
    left: 120px;
    top: 322px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    justify-content: flex-end;
    color: #F7F7F7;
    }

.btn {
    position: absolute;
    width: 160px;
    height: 60px;
    left: 120px;
    top: 479px;
    background: #CD6326;
    border-radius: 5px;
}
.btn { 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
}
.main {
    width: 100%;
    max-width: 1440px;
    height: 1368px;
    background: #CCCCCC;
    border-radius: 0px;
    background-size: cover;
    margin: auto;
}
.news {
padding-top: 120px;
text-align: center;
}
.carusel {
    display: flex;
    justify-content: center;
    margin-top: 58px;
}
.carusel img,
.arrow {
    margin: 0 30px 0 30px;
}
.notified {
width: 100%;
height: 41px;
left: 457px;
top: 1967px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 520px;
text-align: center;
color: #333333;
}
.mail_btn {
width: 120px;
height: 60px;
left: 930px;
top: 1068px;
background: #CD6326;
border: 1px solid #CD6326;
border-radius: 0px 5px 5px 0px;
}
.mail_btn {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 27px;
align-items: center;
text-align: center;
color: #F7F7F7;
}
.email_form {
    width: 100%;
    margin-top: 200px;
    line-height: 200px;
    text-align: center;
}
.mail_holder {
    width: 510px;
    height: 60px;
    left: 405px;
    top: 1069px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center; 
    color: #666666;
    }
.image {
    position: relative;
}

.desc, .name {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}
.name {
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 66px;
    text-align: center;
    color: #F7F7F7; 
}
.desc {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140px;
    text-align: center;
    color: #F7F7F7;
}
footer {
    width: 100%;
    max-width: 1440px;
    height: 360px;
    left: 0px;
    top: 0px;
    background: url('img/footer.jpg');
    border-radius: 0px;
    background-size: cover;
    margin: auto;
}

.follow_me {
    display: inherit;
    margin-right: 80px;
}
